
html {
    font-family: Roboto Mono, monospace;
}

nav button {
    color: white;
    border-style: none;
    border-radius: 25%;
    padding: 15px;
}

nav :first-child {
    background-color: #FF764E;
}

nav :nth-child(2) {
    background-color: #5ED3EB;
}

nav :nth-child(3) {
    background-color: #FFCD69;
}

h1 {
    font-family: 'Chelsea Market', cursive;
}

main p {
    color: white;
    background-color: #DDB9A3;
}

footer {
    background-color: #F9E7DC;
}

span {
    font-weight: bold;
}

header img {
    border-radius: 50%;
    width: 25%;
    margin: 50px;
}