
html {
    font-family: Roboto Mono, monospace;
}

nav a {
    color: white;
    text-decoration: none;
}

nav :first-child {
    background-color: #FF764E;
}

nav :nth-child(2) {
    background-color: #5ED3EB;
}

nav :nth-child(3) {
    background-color: #FFCD69;
}

h1 {
    font-family: 'Chelsea Market', cursive;
}

.whiteText {
    color: white;
}